/*
Uncode Sidekick Styles
Author: Joe Thomas
Author URI: https://github.com/joethomas
*/

/*============================================================================*/
/*============================================================================*/
/*===========================                      ===========================*/
/*===========================   Sidekick Styles    ===========================*/
/*===========================                      ===========================*/
/*============================================================================*/
/*============================================================================*/
/*====                                                                    ====*/
/*====  IMPORTANT: Add Uncode theme overrides in Uncode Core Mods Plugin  ====*/
/*====                                                                    ====*/
/*============================================================================*/
/*============================================================================*/


/* Typography
==============================================================================*/

/* Set base font-size */

body,
.row-inner div[class*=col-lg-] {
	font-size: 16px;
}

sub,
sup {
	font-size: 50%;
}

sup {
	top: -0.8em;
}

figcaption {
	font-size: .875em;
}


/* Single Media
==============================================================================*/

.uncode-single-media-wrapper.tmb-shadow {
	margin-bottom: 0;
}

.banner-corner {
	position: absolute !important;
	width: 30%;
	max-width: 300px;
}

.banner-corner.top {
	top: 0;
}

.banner-corner.right {
	right: 0;
}

.banner-corner.left {
	left: 0;
}


/* Inline Button
==============================================================================*/

.btn-container.btn-inline {
	vertical-align: inherit;
}


/* Header Scroll Down Arrow
==============================================================================*/

.header-wrapper .header-scrolldown,
.header-wrapper .header-scrolldown i {
	display: block;
	width: 1em;
	text-align: center;
	font-size: 44px;
}

.header-wrapper .header-scrolldown {
	margin-left: -.5em;
}


/* Custom Scroll Down Arrow
==============================================================================*/

.joe-scrolldown,
.joe-scrolldown i {
	display: block;
	width: 1em;
	text-align: center;
	font-size: 44px;
}

.joe-scrolldown {
	position: absolute;
	left: 50%;
	z-index: 100;
	margin-top: 36px;
	margin-left: -.5em;
	opacity: 1.0;
/*
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
*/
		-webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
		-webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s linear 0.2s !important;
		-moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s linear 0.2s !important;
		-o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s linear 0.2s !important;
	transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out, opacity 0.2s linear 0.2s !important;
	color: #303133;
}

.joe-scrolldown a,
.joe-scrolldown a:hover,
.joe-scrolldown a:focus,
.style-light .joe-scrolldown a,
.style-light .joe-scrolldown a:hover,
.style-light .joe-scrolldown a:focus {
	color: #303133;
}

.style-dark .joe-scrolldown a,
.style-dark .joe-scrolldown a:hover,
.style-dark .joe-scrolldown a:focus {
	color: #fff;
}

.joe-scrolldown:hover {
		-webkit-transform: translateY(3px);
		-moz-transform: translateY(3px);
		-o-transform: translateY(3px);
		-ms-transform: translateY(3px);
	transform: translateY(3px);
	opacity: .8 !important;
}

/* Spacing Fixes
==============================================================================*/

.icon-box-left .icon-box-content:not(.add-margin) p {
	margin-top: .375em;
}


/* Helper Classes
==============================================================================*/

/**
 * .collapse-top-margin
 * Remove top margin of Visual Composer element
 */
.main-container .row-container .row-parent .single-internal-gutter .uncont > .collapse-top-margin_wrapper,
.main-container .row-container .row-parent .single-internal-gutter .uncont > .collapse-top-margin {
    margin-top: 0;
}

/**
 * .collapse-bottom-margin
 * Remove bottom margin of Visual Composer element
 */
.main-container .row-container .row-parent .single-internal-gutter .uncont > .collapse-bottom-margin_wrapper,
.main-container .row-container .row-parent .single-internal-gutter .uncont > .collapse-top-margin {
    margin-bottom: 0;
}

/**
 * .heading-text-shadow
 * Add a text-shadow to Visual Composer Heading element
 */
.heading-text-shadow span,
.heading-text-shadow p {
	text-shadow: 0 0 .25em rgba(0, 0, 0, 0.3);
}

/** .row-inner-collapse
 * Remove padding on Visual Composer inner rows when inner row has class of row-inner-collapse
 */
.main-container .row-container.row-inner-collapse .row-child .row-inner {
	padding-top: 0;
	padding-bottom: 0;
}

.main-container .row-container.row-inner-collapse-top .row-child .row-inner {
	padding-top: 0;
}

.main-container .row-container.row-inner-collapse-bottom .row-child .row-inner {
	padding-bottom: 0;
}


/* Font Icons
==============================================================================*/

/* Move icons down a bit to line up with adjacent text */
a.btn .fa,
button .fa,
h1 .fa:not(.fa-li),
h2 .fa:not(.fa-li),
h3 .fa:not(.fa-li),
h4 .fa:not(.fa-li),
h5 .fa:not(.fa-li),
h6 .fa:not(.fa-li) {
	display: inline-block;
	transform: translateY(.075em);
}
